<!-- header that will be run on pretty much every page -->
<!DOCTYPE html>
<meta charset="UTF-8">
<title>Tiny App</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
  body    {
    text-align: center; /* just to make it centered and easier to look at */
  }
</style>

<% if (user) { %>
  <h2><%= user.email %></h2>
  <form action= "/logout" method="POST"> <!-- executes the app.post for logout -->
      <input type="submit" value="Log Out">
  </form>
<% } else { %>
    <form action= "/login" method="GET" style="padding:10px"> <!-- brings user to the Login page -->
      <input type="submit" value="Log In">
    </form>
    <form action= "/register" method="GET" style="padding:10px"><!-- brings user to the Signup page -->
      <input type="submit" value="Sign Up">
    </form>
<% } %>
