<!-- header that will be run on pretty much every page -->

<meta charset="UTF-8">
<title>Tiny App</title> <!-- lets the tab show the name of the app -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
  body    {
    text-align: center; /* just to make it centered and easier to look at */
  }
</style>
<body>
  <% if (user) { %>  <!-- if user is logged in this will let them log out faster-->
      <h2><%= user.email %></h2>
      <form action= "/logout" method="POST">
          <input type="submit" value="Log Out">
  </form>
  <% } else { %> <!-- if user is NOT logged in this will let them register or log in -->
      <form action= "/login" method="GET" style="padding:10px"> <!-- Button redirects to the Login page -->
          <input type="submit" value="Log In">
      </form>
      <form action= "/register" method="GET" style="padding:10px"><!-- Button redirects to the Signup page -->
          <input type="submit" value="Sign Up">
      </form>
  <% } %>
</body>
