<meta charset="UTF-8">
<title>Tiny App</title>
<header>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <style>
    body    {
      text-align: center;
    }
  </style>
</header>
<body>
  <% if (user) { %>
      <h2><%= user.email %></h2>
      <form action= "/logout" method="POST">
          <input type="submit" value="Log Out">
  </form>
  <% } else { %>
      <form action= "/login" method="GET" style="padding:10px">
          <input type="submit" value="Log In">
      </form>
      <form action= "/register" method="GET" style="padding:10px">
          <input type="submit" value="Sign Up">
      </form>
  <% } %>
</body>
