<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_headers %>
  </head>
  <body>
    <h2>URLS</h2>
    <ul>
      <% for (url in urls) { %>
        <li><%= url %> - <%= urls[url]  %></li>
      <% }; %>
    </ul>
    <h3>URL shortening</h3>
    <li href = '#'>not yet</li>
  </body>
</html>
