<!DOCTYPE html>
<!-- html for the signup page -->
<html lang="en">
  <head>
    <% include partials/_headers %> <!-- applies the html from _headers.ejs here -->
  </head>
  <body>
    <h2>SIGN UP</h2>
    <form method="POST" action="/register"> <!-- executes the app.post for register -->
      <label for="email">email:</label>
      <input id="email" name="email" type="email"><!-- text area that only accepts email forms like example@example.com -->
      <label for="password">password:</label>
      <input id="password" name="password" type="password"> <!-- text area that hides the characters to make password slightly more secure -->
      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>
